*{box-sizing: border-box;
}

html, body{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#24292e ;
    padding: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    
}

.menu-izquierda{
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.link-git{
    margin-top: -4px;
    margin-bottom: -4px;
    margin-right: 16px;
}

.barra-de-busqueda{
    display: flex;
    align-content: flex-start;
    align-items: center;
    margin-right: 4px;
    height: 28px; 
}

.ed{
    display: flex;
    align-content: center;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 14px;
    
}

.notificaciones, .opciones, .perfil{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    align-items: center;
}

.foto-de-perfil{
   border-radius: 50px;
}

.main-izquierda-arriba{
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 16px;
    align-content: center;
    width: 100%;
    justify-content: space-between;



}

.main-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;   
    background-color: rgb(250, 251, 252)
}

.libro-main{
    display: flex;
    align-items: center;
    margin-right: 8px;
}

h1{
    margin: 0%;
    font-size: 20px;
    font-weight: 400;
}

.na{
    text-decoration: none;
    color:#0366d6;
}

.mi-perfil{
    display: flex;
    flex-direction: row;
    width: 688.656px;
    height: 30px;
    align-items: center;
    margin-right: 16px;
}

.boton-main-derecha{
    background-color: #f4f4f2;
    font-size: 14px;
    justify-content: flex-end;
    border-radius: 6px;
    border-color: #a0a09f;
    border-width: 1px;
    outline: none;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    
}

.menu-main{
    padding-left: 32px;
    padding-right: 32px;
    height: 48px;
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    background-color:rgb(250, 251, 252);
    border-bottom: #f6f5f5 1px solid;
}

.iconos-manu-main{
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.palabras-main-menu{
    margin: 0;
    font-size: 14px;
}

.menu-ul{
    display: inline;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}
.contenedor-individual{
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.contenedor-general{
    width: 950px;
    height: 466px ;
    padding-left: 32px;
    padding-right: 32px;
}

main{
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    padding-left: 32px;
}


.botones-main{
    width: 886px;
    height: 32px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: baseline;
    align-items: center;
    justify-content: space-between;
}

.branch-boton{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.palabra-main{
    font-size: 14px;
    margin-right: 4px;
}

.boton-branch{
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius: 6px;
    color: rgb(36, 41, 46);
    background-color: rgb(250, 251, 252);
    border-color:rgb(196, 196, 196);
}

.tres-primeros{
    display: flex;
    flex-direction: row;
}

.principal-interior{
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.principal{
    display: flex;

    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

.branch, .tag{
    height: 16px;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    text-decoration: none;
    color: rgb(88, 96, 105);
}

.tag{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    text-decoration: none;
}

.palabras-main-menu2{
    margin: 0;
    font-size: 14px;
    margin-left: 5px;
    
}

.flex{
    display: flex;
    
    
}

.Gtf, .Af{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-left: 8px;
    height: 32px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    color: rgb(36, 41, 46);
    background-color: rgb(250, 251, 252);
    border-radius: 6px;
}

.C{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-left: 8px;
    height: 32px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    background-color: rgb(46, 164, 79);
    border-radius: 6px;
    color: white;
}

.proceso-del-trabajo{
    width: 886px;
    height: 165px;
    margin-bottom: 24px;    
}

.p-pdt{
    margin: 0%;
}

.contenedor-perfil-pdt{
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(241, 248, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: #c2e9f3 1px solid;
}


.contenedor-readme{
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.contenedor-perfil-pdt2{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
}

.contenedor-perfil-pdt3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 16px;
    width: 250.234px;
}

.link-dv{
    font-size: 12px;
    text-decoration: none;
    color: rgb(88, 96, 105);
    margin-left: 8px;
    margin-right: 8px;
}

.relojito{
    margin-left: 16px;
    margin-right: 4px;
}

.contenedor-inicio-de-proyecto{
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border:#f6f5f5 1px solid;
    font-size: 14px;
}

.contenedor-inicio-de-proyecto-abajo{
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: #f6f5f5 1px solid;
}

.contenedor-inicio-de-proyecto2{
    width: 237.500px;
    margin-right: 16px;
}

.contenedor-inicio-de-proyecto3{
    width: 450.500px;
    margin-right: 16px;
}

.contenedor-inicio-de-proyecto4{
    display: flex;
    justify-content: flex-end;
    width: 130px;
    
}

.hojita-doblada{
    margin-right: 16px;
}

.contenedor-archivo-readme{
    width: 884px;
    height: 192px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: #f6f5f5 2px solid;
}

.readme{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

h1{
    margin:0%;
    font-size: 20px;
}

.contenedor-info{
    padding-top: 12px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
}

.CdF{
    width: 820px;
    padding-bottom: 9.600px;
    margin-bottom: 16px;
    border-bottom: #f6f5f5 2px solid;
}

.info-accesoria{
    width: 274px;
    height: 466px;
    padding-left: 16px;
    padding-right: 16px;
}

.contenedor-about{
    border-bottom: rgb(230, 230, 230) 1px solid;
    
}

.about-derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.h2-mb{
    margin-top: 0%;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 41, 46);
}

.nd-w{
    color: rgb(88, 96, 105);
    font-size: 16px;
    font-style: italic;
}

.libro-readme{
    margin-top: 24px;
    margin-bottom: 16px;
}

.wiki-readme{
    margin-right: 8px;
}

.contenedor-releases{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: rgb(230, 230, 230) 1px solid;
}

.sub-title{
    margin: 0%;
    color: rgb(88, 96, 105);
    font-size: 12px;
}

.contenedor-packages{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: rgb(230, 230, 230) 1px solid;
}

.contenedor-lenguages{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
}

.ul-lenguages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    padding: 0%;
}

.porcentajes{
    list-style: none;
    font-size: 12px;
    margin-right: 8px;
}

.porcentajes2{
    list-style: none;
    font-size: 12px;
}

footer{
    width: 1248px;
    height: 114px;
    padding-right: 16px;
    padding-left: 16px;
}

.contenedor-footer{
    display: flex;
    width: 1315px;
    padding-top: 40px;
    padding-bottom: 8px;
    margin-top: 40px;
    border-top: rgb(219, 219, 219) 1px solid ;
    justify-content: center;
    flex-direction: row;
    
}

.ul-footer{
    display: flex;
    width: 550px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    list-style: none;
}
    



.home-page-footer{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    
}

.svg-blanco{
    fill: rgb(255, 255, 255);
}

.abajo-svg{
    margin-left: 6px;
    fill: rgba(255, 255, 255, 0.8)
}

.download-svg{
    fill: rgba(255, 255, 255, 0.8);
    margin-right: 6px;
}